<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="" defer></script>
    <%- include('head'); %>
    <script src="/scriptBien.js" defer></script>
    <input type="hidden" id="reservedDates" value="<%= JSON.stringify(reservedDates) %>">
    <input type="hidden" id="longitude" value="<%= data[0].longitude %>">
    <input type="hidden" id="latitude" value="<%= data[0].latitude%>">
    <input type="hidden" id="prix" value="<%= data[0].prix%>">

    <script>
        $(function(){
            let dateRangePicker = document.getElementById('datesSejour');
            let reservedDates = JSON.parse(document.getElementById('reservedDates').value);

            reservedDates = reservedDates.map(entry => ({
                dateDebut: entry.dateDebut && entry.dateDebut.includes('-') ? entry.dateDebut : new Date(entry.dateDebut).toISOString().split('T')[0],
                dateFin: entry.dateFin && entry.dateFin.includes('-') ? entry.dateFin : new Date(entry.dateFin).toISOString().split('T')[0],
            }));
    

            const disableDates = reservedDates.map(entry => {
                if (entry.dateFin) {
                    return [entry.dateDebut, entry.dateFin];
                } else {
                    return entry.dateDebut;
                }
            });
    
            let pickerRange = new Litepicker({
                element: dateRangePicker,
                format: 'YYYY-MM-DD',
                delimiter: " ",
                singleMode: false,
                lang: "fr-FR",
                lockDays: disableDates,
            });
        });
    </script>
</head>
<body>
    <header>
        <%- include('header'); %>
    </header>
    <%- include('loginPopup') %>
    <%- include('registerPopup') %>
    <div class="container">
        <% data.forEach(entry => { %>
            <div class="infoLogement">
                <span><h2><%= entry.commune %>, <%= entry.cp %>, France</h2></span>
                <%- include('star_svg');%>
                <span><%= entry.moyenneNote %>/5 ⸱</span>
                
                <span><%= entry.nbrAvis %> commentaires</span>
                    <div class="images">
                        <div class="mainImage">
                            <img id="img" src="/images/test.webp" width="600px">
                        </div>
                        <div class="imagesGallery">
                            <img id="img" src="/images/1.webp" width="200px">
                            <img id="img" src="/images/2.webp" class="outerPic" width="200px">
                            <img id="img" src="/images/3.webp" width="200px">
                            <img id="img" src="/images/4.webp" class="outerPic" width="200px">
                        </div>
                        <div class="rightContainer">
                            <%- include('formBien'); %>
                        </div>
                    </div>
            <% }) %>
            <div class="commentsContainer">
                <h3>Commentaires</h3>
                <%- include('comments'); %>
                    <% if (session.userid){ %>
                        <form method="post" action="/post">
                            <input type="hidden" name="idLocation" value="<%= data[0].idLocation %>">
                            <input type="hidden" name="idBien" value="<%= data[0].idBien %>">
                            <div class="textComment">
                                <label for="exampleFormControlTextarea1" class="form-label"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textArea"></textarea>
                                <button type="submit" class="btn btn-primary" id="btnComment">Ajouter un commentaire</button>
                            </div>
                        </form>
                <% } %>
             

            </form>
           
            </div>
            <div id="map">
            </div>
            </div>
       
        </div>
       
    </div>
   
    <footer>
        <%- include('footer'); %>
    </footer>
</body>
</html>