<tr>
    <% data.forEach(entry => { %>
      <td><%= entry.idBien %></td>
      <td><%= entry.mailProprio %></td>
      <td><%= entry.commune %></td>
      <td><%= entry.cp %></td>
      <td><%= entry.nbCouchages %></td>
      <td><%= entry.nbChambres %></td>
      <td><%= entry.distance %></td>
      <td><%= entry.prix %></td>
  </tr>
  <% }) %>