<div class="flatsContainer">
  <% data.forEach(entry => { %>
      <div class="flats">
        <img id="previewLogement" src="/test.webp">
        <span><%= entry.commune %>, <%= entry.cp %>, France</span>
        <span><%= entry.nbCouchages %> lits</span>
        <span><%= entry.nbChambres %> chambres</span>
        <span><%= entry.prix %>€ par nuit</span>
        <span>à <%= entry.distance %>m du centre-ville</span>
        <span>Note de <%= entry.moyenneNote %>/5 avec <%= entry.nbrNotes %> notes</span>
        <span><a class="detail" href="/bien/<%= entry.idBien %>">Voir le détail</a></span>
        <span>
        </span>
      </div>
      <% }) %>

    
  </div>
