<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
    <script src="/script.js" defer></script>
</head>
<body>
    <header>
        <%- include('header'); %>
    </header>
    <%- include('loginPopup') %>
    <%- include('registerPopup') %>
    <div class="container">
        <div class="leftPanel">
            <p>Réservez dès maintenant votre logement de rêve.</p>
            <form action="" method="get">
                <%- include('form'); %>
            </form>   
        </div>
        <div class="rightPanel">
                <%- include('flats'); %>
        </div>
    </div>
    <footer>
        <%- include('footer'); %>
    </footer>
</body>
</html>